{% extends "base.html.twig" %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<header class="header">
				<div class="menu-icon">
					<span class="material-icons-outlined">
						menu
					</span>
				</div>
				<div class="header-left">
					<span class="material-icons-outlined">
						search
					</span>
				</div>
				<div class="header-right">
					<span class="material-icons-outlined">
						notifications
					</span>
					<span class="material-icons-outlined">
						email
					</span>
					<!-- <span class="material-icons-outlined"> menu </span> -->
					<span class="material-icons-outlined">
						account_circle
					</span>
				</div>
			</header>
			{% include "_component/_adminnav.html.twig" %}
			<main class="col-9 border border-red bg-white p-2">
				<div class="main-title">
					<p class="fw-600">Tableau de board</p>
				</div>

				<div class="main-cards">
					<div class="card">
						<div class="card-inner">
							<p class="text-yellow">Prouduit</p>
							<span class="material-icons-outlined text-yellow" title="Wassa Boutique">
								folder_open
							</span>
						</div>
						<span class="text-primary fw-600">684</span>
					</div>
					<div class="card">
						<div class="card-inner">
							<p class="text-red">Categories</p>
							<span class="material-icons-outlined text-red" title="Wassa Boutique">
								folder_open
							</span>
						</div>
						<span class="text-primary fw-600">684</span>
					</div>
					<div class="card">
						<div class="card-inner">
							<p class="text-turc">Les arrivages</p>
							<span class="material-icons-outlined text-turc" title="Wassa Boutique">
								folder_open
							</span>
						</div>
						<span class="text-primary fw-600">684</span>
					</div>
					<div class="card">
						<div class="card-inner">
							<p class="text-indigo">Stock Produit</p>
							<span class="material-icons-outlined text-indigo" title="Wassa Boutique">
								folder_open
							</span>
						</div>
						<span class="text-primary fw-600">684</span>
					</div>
				</div>
				<div class="charts">
					<div class="charts-card">
						<p class="chart-title">Meilleurs ventes</p>
						<div id="chart-bar"></div>
					</div>
					<div class="charts-card">
						<p class="chart-title">Ventes et rejets</p>
						<div id="chart-area"></div>
					</div>
				</div>


			</main>
		</div>
	</div>

	{% block javascripts %}
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		<script src="{{asset('assets/js/script.js')}}" defer></script>
	{% endblock %}
{% endblock %}
