<!-- Footer -->
<footer
	class="page-footer font-small mdb-color pt-4">

	<!-- Footer Links -->
	<div
		class="container text-center text-md-left">

		<!-- Footer links -->
		<div
			class="row text-center text-md-left mt-3 pb-3">

			<!-- Grid column -->
			<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
				<h6 class="text-uppercase mb-4 font-weight-bold">Wassa Boutique</h6>
				<p>Wassa Boutique est situ&eacute;e au coeur de l'immeuble Malimag. Venez nous rendre visite avec l'assurance de r&eacute;partir SATISFAIT(E).</p>
			</div>
			<!-- Grid column -->

			<hr
			class="w-100 clearfix d-md-none">

			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
				<h6 class="text-uppercase mb-4 font-weight-bold">Nos produits Wassa</h6>
				<p>
					<a href="#!">Caf&eacute;ti&egrave;res</a>
				</p>
				<p>
					<a href="#!">Glaci&egrave;res</a>
				</p>
				<p>
					<a href="#!">Assi&egrave;ttes</a>
				</p>
				<p>
					<a href="#!">Divers</a>
				</p>
			</div>
			<!-- Grid column -->

			<hr
			class="w-100 clearfix d-md-none">

			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
				<h6 class="text-uppercase mb-4 font-weight-bold">Liens utiles</h6>
				<p>
					{# <a href="{{ path('app_login') }}">Mon espace Wassa</a> #}
				</p>
				<p>
					<a href="#!">Devenir membre Wassa</a>
				</p>
				<p>
					{# <a href="{{ path('wassa_contact') }}">Votre avis sur nos services</a> #}
				</p>
				<p>
					<a href="#!">Aides</a>
				</p>
			</div>

			<!-- Grid column -->
			<hr
			class="w-100 clearfix d-md-none">

			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
				<h6 class="text-uppercase mb-4 font-weight-bold">Contacts</h6>
				<p>
					<i class="fas fa-home mr-3"></i>
					<span>
						Immeuble Malimag, Boutique N°397
						<br/>
						B.P.E.:5364 - bko - R&eacute;p. du Mali
					</span>
				</p>
				<p>
					<i class="fas fa-envelope mr-3"></i>
					contact@wassa-boutique.com</p>
				<p>
					<i class="fas fa-phone mr-3"></i>+223-20 22 79 15</p>
				<p>
					<i class="fas fa-phone mr-3"></i>+223-66 74 16 45</p>
				<p>
					<i class="fas fa-phone mr-3"></i>+223-66 54 01 67</p>
				<p>
					<i class="fas fa-phone mr-3"></i>+223-66 54 01 67</p>
				<p>
					<i class="fas fa-phone mr-3"></i>+223-66 54 01 67</p>
				<p>
					<i class="fas fa-phone mr-3"></i>+223-66 03 42 56</p>
			</div>
			<!-- Grid column -->

		</div>
		<!-- Footer links -->

		<hr>

		<!-- Grid row -->
		<div
			class="row d-flex align-items-center">

			<!-- Grid column -->
			<div
				class="col-md-7 col-lg-8">

				<!--Copyright-->
				<p class="text-center text-md-left">© 2019 Copyright:
					<a href="https://wassa-boutique.com/">
					{# <a href="https://wassa-boutique.com/mention-legales"> #}
						<strong>
							wassa-boutique.com</strong>
					</a>
				</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div
				class="col-md-5 col-lg-4 ml-lg-0">

				<!-- Social buttons -->
				<div class="text-center text-md-right">
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item">
							<a class="btn-floating btn-sm rgba-white-slight mx-1">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a class="btn-floating btn-sm rgba-white-slight mx-1">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
					</ul>
				</div>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->

</footer>
<!-- Footer -->