{% extends "base.html.twig" %}

{% block title %}Administration des categories{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
             {% include "_component/_adminnav.html.twig" %}
            <div class="col-9">
                <h1>Ajouter une Categorie</h1>
                {{ include ("admin/categories/_form.html.twig", {'button_label': 'Ajouter'})}}
            </div>
        </section>
    </main>
{% endblock %}